
.App {
  background-image: url("cloud.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size:100% 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@media only screen and (max-width: 767px) {
  .App {
  /* The file size of this background image is 93% smaller
  to improve page load speed on mobile internet connections */
  background-image: url("cloud.png");
  }
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
