
body{margin: 0}
.scrolllogo{
  float: center !important;
  width:clamp(5vw, 50%, 10vw);
}

.black{

  background-color: black;
}
.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
 ;
}
.iframe-container iframe{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

/* .left{
visibility:hidden

} */

.big {
  font-size:4vw
}
.bigg {
  font-size:3.5vw;
  
  font-weight: bold;
}
.cover {
background-color:rgb(19, 19, 19);
color:white;
width:100%;


}
.center{
text-align:center;

}
.flex {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-left:10vw;
  padding-right:10vw
}
.imglogo {
  width:clamp(15vw, 50%, 15vw);
  height:clamp(15vw, 50%, 15vw);

  opacity:.8;
  float: left !important;
 
margin :0;
padding-top:clamp(2rem, .5vw, 5rem);
}
header {width: 100%;
  position: fixed;
  display: flex;
  top: 0;}
.from-top{
padding-top: 30vh;

}
input{ float: center !important;
  width:clamp(15vw, 50%, 20vw);
  height:clamp(15vw, 50%, 20vw);
  font-size: clamp(1rem, 1.5vw, 3rem); }
  textarea{ float: center !important;
    width:clamp(20vw, 80%, 35vw);
    height:clamp(250vw, 80%, 35vw);
    font-size: clamp(1rem, 1.5vw, 3rem); }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: clamp(1rem, 1.5vw, 3rem); 
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: clamp(1rem, 1.5vw, 3rem); 
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: clamp(1rem, 1.5vw, 3rem); 
}
:-moz-placeholder { /* Firefox 18- */
  font-size: clamp(1rem, 1.5vw, 3rem); 
}
.newy {
  

  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left:10vw;
  padding-right:10vw
}
.small-top{
  padding-top: 80vh;
  
  }
.right {
  float:right !important;
  padding-top:clamp(3rem, 2.5vw, 20rem);
  padding-right:clamp(8rem, 2.5vw, 30rem);
}
nav
{
  float:right;
  width:80%;
  flex-grow: 1;
}
nav ul {
margin:0;
padding:0;
position:center center;
display:flex;
justify-content: space-around;

}

nav li {
display:inline-block;

padding-top:clamp(3rem, 2.5vw, 20rem);

}
nav a {
color: rgb(0, 0, 0);
text-decoration: none;
text-transform: uppercase;
font-size: clamp(1rem, 1.5vw, 3rem); 


}
a{text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 3rem); 
  
  }
nav a:hover {
  color: rgb(119, 132, 143)
}
ul {
  list-style-type: none;
  text-align:center
}
nav a::before  {

  content: '';
  display: block;
  height: 1.2vw;
  background-color: rgb(119, 132, 143);
  position: absolute;
  top:0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
.spanner {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 3rem);cursor:pointer
}
@media screen and (max-width: 1300px) {
 
  .scrolllogo{
    
    visibility: hidden;
  }
  
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
nav a:hover::before {

  width: 100%
}
.newApp{

  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size:100% 100%; */
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@media only screen and (min-device-width: 737px)  {.App {
  background-image: url("cloud.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size:100% 100%; */
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
}

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {.App {
    background-image: url("cloud-1.png");
    background-size: cover;
    background-attachment: scroll;
  background-repeat: no-repeat;
  perspective: 1px;
  height: 100vh;
  background-position: center center;
 
  overflow-x: hidden;
  overflow-y: auto;
  }}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {.App {
  background-image: url("cloud-2.png");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {.App {
  background-image: url("cloud-1.png");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {.App {
  background-image: url("cloud-2.png");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {.App {
  background-image: url("cloud-1.png");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;

}}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {.App {
  background-image: url("cloud-2.png");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
background-position: center center;
 
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
;}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {.App {
  background-image: url("cloud-1.png");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;

 
overflow-y: auto;
}}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {.App {
  background-image: url("cloud-2.png");
  background-size: cover;
  background-attachment: scroll;
background-repeat: no-repeat;
perspective: 1px;
height: 100vh;
background-position: center center;
 
overflow-x: hidden;
overflow-y: auto;
}}

#myNav {width:0%


}
#myNav1 {width:100%


}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: rgb(24, 23, 23);
  color:white;
  height: 100vh;
overflow-x: auto;
/* overflow-y: auto; */
}
.x{

  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.Overlay {

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  
}

.closed{display: none;}